doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Project
  body
    h1 Json Counts

    form.text-left.clearfix(action='/counts' method="POST")
        button.btn.btn-main.text-center(type='submit') Counts

    h1 Json Master

    form.text-left.clearfix(action='/master' method="POST")
        button.btn.btn-main.text-center(type='submit') Master

    h1 Get First Text Data 

    form.text-left.clearfix(action='/getFirstTxtData' method="POST")
        button.btn.btn-main.text-center(type='submit') Get First

    h1 Get Second Text Data 

    form.text-left.clearfix(action='/getSecondTxtData' method="POST")
        button.btn.btn-main.text-center(type='submit') Get Second

    h1 Get Third Text Data 

    form.text-left.clearfix(action='/getThirdTxtData' method="POST")
        button.btn.btn-main.text-center(type='submit') Get Third

    hr


    